:root {
  --text: #ffffff;
  --background: #212428;
  --primary: #7289da;
  --secondary: #2c2f33;
  --accent: #99aab5;
}

/* use above defintions to style the page */
body {
  background-color: var(--background);
  color: var(--text);
  font-family: "Roboto", sans-serif;
  height: 100%;
}

/* style the header title */
h1 {
  font-size: 2.5rem;
  text-align: center;
  color: var(--primary);
}

.sidebar {
  flex: 1;
  height: 100%;
  background-color: var(--secondary);
  color: var(--text);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-right: 2px solid var(--accent);
}

.main {
  flex: 9;
  height: 100%;
  background-color: var(--secondary);
  color: var(--text);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
